[submodule "Assignment2/msdocs-python-flask-webapp-quickstart-X1Z"]
	path = Assignment2/msdocs-python-flask-webapp-quickstart-X1Z
	url = https://msdocs-python-flask-webapp-quickstart-x1z-a9ghcdghapc2aadj.scm.westus-01.azurewebsites.net:443/msdocs-python-flask-webapp-quickstart-X1Z.git
[submodule "Assignment2/Assignment2/msdocs-python-flask-webapp-quickstart"]
	path = Assignment2/Assignment2/msdocs-python-flask-webapp-quickstart
	url = https://msdocs-python-flask-webapp-quickstart-x1z-2-htd3gmagcycudebr.scm.westus-01.azurewebsites.net:443/msdocs-python-flask-webapp-quickstart-X1Z-2.git
