[submodule "Assignment2/msdocs-python-flask-webapp-quickstart-X1Z"]
	path = Assignment2/msdocs-python-flask-webapp-quickstart-X1Z
	url = https://msdocs-python-flask-webapp-quickstart-x1z-a9ghcdghapc2aadj.scm.westus-01.azurewebsites.net:443/msdocs-python-flask-webapp-quickstart-X1Z.git
