[submodule "Assignment2/msdocs-python-flask-webapp-quickstart-X1Z"]
  path = Assignment2/msdocs-python-flask-webapp-quickstart-X1Z
  url = git@ssh.azure-devices.net:University of Southern California/msdocs-python-flask-webapp-quickstart-X1Z.git

