<h1>Inside Details Pane</h1>
<!-- <div class="container">
    <h2>firstDay.date</h2>
    <div class="row">
        <table class="table table-responsive table-striped">
          <tr>
            <td>Status</td>
            <td>{{firstDay.status}}</td>
          </tr>
          <tr>
            <td>Max Temperature</td>
            <td>{{firstDay.temperatureMax}}</td>
          </tr>
          <tr>
            <td>Min Temperature</td>
            <td>{{firstDay.temperatureMin}}</td>
          </tr>
          <tr>
            <td>Apparent Temperature</td>
            <td>{{firstDay.status}}</td>
          </tr>
          <tr>
            <td>Sun Rise Time</td>
            <td>{{firstDay.status}}</td>
          </tr>
          <tr>
            <td>Sun Set Time</td>
            <td>{{firstDay.status}}</td>
          </tr>
          <tr>
            <td>Humidity</td>
            <td>{{firstDay.humidity}}</td>
          </tr>
          <tr>
            <td>Wind Speed</td>
            <td>{{firstDay.windSpeed}}</td>
          </tr>
          <tr>
            <td>Visibility</td>
            <td>{{firstDay.visibility}}</td>
          </tr>
          <tr>
            <td>Cloud Cover</td>
            <td>{{firstDay.cloudCover}}</td>
          </tr>
        </table>
        <map name="searchedLocation">
            
        </map>
      </div>
    </div> -->