    <div class="container d-flex">
        <div class="row justify-content-center align-items-center mt-3">

          <div class="col-sm-auto">
            <button type="button" class="btn btn-primary" (click)="backToDetailsView()">(<) List</button>
          </div>
          <div class="spacerLeft"></div>
              <div class="col-sm text-center">
                  <h2 class="m-0 mx-2 datePadding">{{ firstDay.date | date:'EEEE, MMM. d, y' }}</h2>
              </div>
            <div class="spacerRight"></div>
          <div class="col-sm-auto">
            <button type="button" class="btn btn-primary" (click)="postTweet()">TWEET</button>
          </div>
        </div>
      </div>

<div class="d-flex justify-content-center align-items-center mt-3" *ngIf="firstDay">
    <div class="table-container">
        <table class="table table-responsive table-striped">
            <tr>
                <td>Status</td>
                <td>{{firstDay.status}}</td>
            </tr>
            <tr>
                <td>Max Temperature</td>
                <td>{{firstDay.temperatureMax}}°F</td>
            </tr>
            <tr>
                <td>Min Temperature</td>
                <td>{{firstDay.temperatureMin}}°F</td>
            </tr>
            <tr>
                <td>Apparent Temperature</td>
                <td>{{firstDay.temperatureApparent}}°F</td>
            </tr>
            <tr>
                <td>Sun Rise Time</td>
                <td>{{firstDay.sunriseTime  | date: 'h a'}}</td>
            </tr>
            <tr>
                <td>Sun Set Time</td>
                <td>{{firstDay.sunsetTime  | date: 'h a'}}</td>
            </tr>
            <tr>
                <td>Humidity</td>
                <td>{{firstDay.humidity}}%</td>
            </tr>
            <tr>
                <td>Wind Speed</td>
                <td>{{firstDay.windSpeed}}mph</td>
            </tr>
            <tr>
                <td>Visibility</td>
                <td>{{firstDay.visibility}}mi</td>
            </tr>
            <tr>
                <td>Cloud Cover</td>
                <td>{{firstDay.cloudCover}}%</td>
            </tr>
        </table>
    </div>
    <div id="map" style="height: 400px; width: 100%;">
        
    </div>

    </div>