
.table {
    width: 100%;
    border-collapse: collapse;
}

 .table{
    margin-left: 4%;
 }

 #headerDayView th {
    font-size: 16px;
    font-weight: bold;
}


.table th, .table td {
    padding: 16px;
    text-align: left;
    border-bottom: 1px solid lightgrey;
}