<div class="container">
    <div class="row">
        <table class="table table-responsive table-striped">
            <th>#</th>
            <th>City</th>
            <th>State</th>
           <!-- prompt: how do I get MongoDb to work with this assignment? - 2 line - https://chatgpt.com/share/672eedda-3c38-800b-b507-3d11cc7aa0ec -->
          <tr *ngFor="let x of row; let i = index">
            <td>{{ i + 1 }}</td> 
            <td>{{x.City}}</td>
            <td>{{x.State}}</td>
            <td>
                <!-- prompt: how do I get MongoDb to work with this assignment? - 2 line - https://chatgpt.com/share/672eedda-3c38-800b-b507-3d11cc7aa0ec  -->
                <button (click)="removeFavorite(x.Latitude, x.Longitude,x.City,x.State)">(IMG)
                <!-- <img src="path_to_trash_can_image.png" alt="Delete"/> -->
                </button> 
            </td>
          </tr>
        </table>
      </div>
    </div>