#cityInput{
    width: 70%;
    height: 35px;
    border-color: #d3d3d3;
    border-width: 1px;
    padding: 0;
    border-radius: 4px;
    margin-left: 13%;
}
.removeBottomSpace{
    margin-bottom: -1.1%;
}